@media (max-width: 768px) {
    .shopleft {
        display: none;
    }

    .shopright {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .shopright {
    
    }
    .shop{
        
    }
    .shopcardbox{
        padding-bottom: 10px;
    }
}